<div class="container">
  <section class="hero">
    <h1 class="hero__title" data-aos="fade-right" data-aos-duration="800">
      <span><span class="title__rep">Репетитор</span> IELTS</span>
      <span class="title__main">Academic</span>
    </h1>
          <picture class="hero__img">
            <source srcset="img/image.webp" alt="Elt" type="image/webp">
            <img loading="lazy" src="img/image.jpg" alt="Elt" class="image" width="300" height="300" alt="Обложка IELTS">
          </picture>
    <div class="hero__text" data-aos="fade-left" data-aos-duration="800">
      <div class="text__info">
        Готовишься к IELTS сам? I've got you!
        Переходи в мой телеграм бот и скачивай мой авторский список полезной лексики для хорошего описания всех видов графиков IELTS.
      </div>
      <a href="https://t.me/elt_unicorn_bot" class="hero__link btn">Download</a>
    </div>
  </section>
</div>
<section class="abouts">
  <h2 class="abouts__title">
    Обо мне
  </h2>
  <div class="container">
    <blockquote class="abouts__text" data-aos="fade-up" data-aos-duration="800">

      <div class="about__column">
        <h3 class="text__title">Привет! Меня зовут Ольга,</h3>
        <p>
           Я преподаю английский – и всю эту информацию ты найдёшь в моем телеграм-канале по <b>подготовке к IELTS и изучению английского для карьеры.</b>
        </p>
        <p>
          <b>Миграция по учёбе и работе</b> становится всё более актуальной и я рада заявить, что <b>100% моих студентов</b> сдали международный экзамен на желаемый балл и выше и получили возможность поступить в европейские ВУЗы и успешно мигрировать.
        </p>
        <p>
          Я сама изучаю второй иностранный язык самостоятельно и мои главные ценности - это честность и свобода образования для всех. Именно поэтому моём канале <b>нет бесконечных продаж и рекламы моих услуг.</b>
        </p>
      </div>
          <div class="abouts__column">
           <h3 class="column__title">В канале я:</h3>
            <ul class="more__list list-reset">
              <li class="list__item">Разбираю <b>текущие темы экзамена IELTS</b>;</li>
              <li class="list__item">Рассказываю про <b>изучение иностранных языков</b>;</li>
              <li class="list__item">Рекомендую полезные видео, статьи и книги для <b>учебы и самоорганизации</b>;</li>
              <li class="list__item">Делюсь бесплатными ресурсами для обучения;</li>
              <li class="list__item">Пишу простым языком, не спамлю водой.</li>
            </ul>
          </div>
    </blockquote>
  </div>
</section>
<section class="about">
  <div class="container">
  <blockquote class="about__text" data-aos="fade-up">
    <p>
      Привет! Меня зовут Ольга, я преподаю английский – и всю эту информацию ты найдёшь в моем телеграм-канале по <b>подготовке к IELTS и изучению английского для карьеры.</b>
    </p>
    <p>
      <b>Миграция по учёбе и работе</b> становится всё более актуальной и я рада заявить, что <b>100% моих студентов</b> сдали международный экзамен на желаемый балл и выше и получили возможность поступить в европейские ВУЗы и успешно мигрировать.
    </p>
    <p>
      Я сама изучаю второй иностранный язык самостоятельно и мои главные ценности - это честность и свобода образования для всех. Именно поэтому моём канале <b>нет бесконечных продаж и рекламы моих услуг.</b>
    </p>
<!--    <div class="about__more">-->
<!--      В канале я:-->
<!--      <ul class="more__list">-->
<!--        <li class="list__item">разбираю <b>текущие темы экзамена IELTS</b>,</li>-->
<!--        <li class="list__item">рассказываю про <b>изучение иностранных языков</b>,</li>-->
<!--        <li class="list__item">рекомендую полезные видео, статьи и книги для <b>учебы и самоорганизации</b>,</li>-->
<!--        <li class="list__item">делюсь бесплатными ресурсами для обучения,</li>-->
<!--        <li class="list__item">пишу простым языком, не спамлю водой.</li>-->
<!--      </ul>-->
<!--    </div>-->
  </blockquote>
  </div>
</section>
<section class="reviews" data-aos="fade-up"
         data-aos-anchor-placement="top-bottom"
         data-aos-duration="500">

  <h2 class="reviews__title">Отзывы</h2>
  <!-- Additional required wrapper -->
  <div class="reviews__slider">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide slider__item">
        <div class="container">
          <img loading="lazy" src="img/rev/1.webp" alt="Отзыв общий английский" class="item__img">
          <div class="item__info">
            <h3 class="item__title"><span>Марго,<span>юрист РЖД</span></span> Общий английский</h3>
            <div class="item__text">
              Несмотря на прошлый негативный опыт изучения языка, Марго быстро втянулась и уже через пару месяцев достаточно бегло заговорила.
              Это помогло ей с комфортом общаться с европейцами в деловой поездке.
              <button data-img="1" class="text__full">Читать отзыв</button>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide slider__item">
        <div class="container">
          <img loading="lazy" src="img/rev/2.webp" alt="Отзыв IELTS 6.5" class="item__img">
          <div class="item__info">
            <h3 class="item__title"><span>Валерия, <span>химик на фарм производстве</span></span> IELTS</h3>
            <div class="item__text">
              Валерия пришла ко мне на занятия с очень хорошим В1 и целью сдать IELTS на 6.5 для миграции через магистерскую программу в одной из скандинавских стран.
              Она ничего не знала о формате экзамена и терялась при виде тем эссе. А что говорить на IELTS Speaking Part 3 вообще было непонятно. Несмотря на то, что экзаменатор несправедливо занизил оценку за Speaking, мы сдали с первого раза - подали апелляцию и выиграли.
              <button data-img="2" class="text__full">Читать отзыв</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide slider__item">
        <div class="container">
          <img loading="lazy" src="img/rev/3.webp" alt="Отзыв ESP психология" class="item__img">
          <div class="item__info">
            <h3 class="item__title"><span>Мирослав, <span>психолог</span></span> Специальный английский</h3>
            <div class="item__text">
              Мечта моего студента-психолога - в будущем вести сессии на английском.
              Пока мы повышаем уровень языка для этой цели, мы также углубляемся в психологические темы, со всей их многоранностью и терминологией.
              <button data-img="3" class="text__full">Читать отзыв</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide slider__item">
        <div class="container">
          <img loading="lazy" src="img/rev/4.webp" alt="Отзыв общий английский" class="item__img">
          <div class="item__info">
            <h3 class="item__title"><span>Татьяна, <span>тату-мастер</span></span> Общий английский</h3>
            <div class="item__text">
              У Тани английский в школе был самым ненавистным предметом. В 2022 остро встал вопрос о миграции, она решилась на занятия со мной.
              Всего 2 месяца занятий и языкового барьера как ни бывало - даже другим помогает 😎
              <button data-img="4" class="text__full">Читать отзыв</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide slider__item">
        <div class="container">
          <img loading="lazy" src="img/rev/5.webp" alt="Отзыв IELTS 7.0" class="item__img">
          <div class="item__info">
            <h3 class="item__title"><span>Первин, <span>преподаватель</span></span> IELTS</h3>
            <div class="item__text">
              Первин - преподаватель английского и арабского.
              Ей очень было нужно сдать IELTS на 7, в багаже был опыт с репетитором, который весь урок просто просил читать и переводить тексты на Reading 🫠
              С помощью лексического подхода мы достигли цели.
              <button data-img="5" class="text__full">Читать отзыв</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide slider__item">
        <div class="container">
          <img loading="lazy" src="img/rev/6.webp" alt="Отзыв ESP IT" class="item__img">
          <div class="item__info">
            <h3 class="item__title"><span>Роман, <span>начальник IT-отдела</span></span> Специальный английский</h3>
            <div class="item__text">
              После обучения языку в школе и университете Роман долго не практиковал язык и его перестало хватать для работы. Мы стартовали с B1 и кастомизировали все уроки с нуля без лирических отступлений - только IT.
              <button data-img="6" class="text__full">Читать отзыв</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container--btn">
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
<section class="services">
  <h2 class="services__title">
    Услуги
  </h2>
<div class="container">
  <div class="services__item" >
    <img loading="lazy" src="img/general.webp" alt="general" class="item__img" data-aos="flip-left"
         data-aos-easing="ease-out-cubic"
         data-aos-duration="1000">
    <div class="item__info">
      <h3 class="item__title">Общий английский</h3>
      <ul class="item__price list-reset">
        <li class="price__one">
          <b>Разовые занятия:</b>
          2000р\час
        </li>
        <li class="price__ab">
          <b>Абонементы со скидкой 10%:</b>
          14500р\8 занятий
        </li>
      </ul>
      <a href="https://t.me/elt_unicorn_bot" class="item__link btn">Записаться</a>



    </div>
  </div>
  <div class="services__item">
    <img loading="lazy" src="img/ielts.webp" alt="ielts" class="item__img" data-aos="flip-right"
                                   data-aos-easing="ease-out-cubic"
                                   data-aos-duration="1000">
    <div class="item__info">
      <h3 class="item__title">IELTS</h3>
      <ul class="item__price  list-reset">
        <li class="price__one">
          <b>Разовые занятия:</b>
          2000р\час
        </li>
        <li class="price__ab">
          <b>Абонементы со скидкой 10%:</b>
          14500р\8 занятий
        </li>
      </ul>
      <a href="https://t.me/elt_unicorn_bot" class="item__link btn">Записаться</a>
    </div>
  </div>
  <div class="services__item">
    <img loading="lazy" src="img/spec.webp" alt="special for work" class="item__img" data-aos="flip-left"
         data-aos-easing="ease-out-cubic"
         data-aos-duration="1000">
    <div class="item__info">
      <h3 class="item__title">Специальный английский для карьеры</h3>
      <ul class="item__price list-reset">
        <li class="price__one">
          <b>Разовые занятия:</b>
          2000р\час
        </li>
        <li class="price__ab">
          <b>Абонементы со скидкой 10%:</b>
          14500р\8 занятий
        </li>
      </ul>
      <a href="https://t.me/elt_unicorn_bot" class="item__link btn">Записаться</a>
    </div>
  </div>
</div>
</section>
<section class="how">
<div class="container">
  <div class="how__miro">
    <div class="miro__info" data-aos="fade-right">
      <h2 class="how__title">
        Как проходят занятия?
      </h2>
      <h3 class="miro__title">
        Лучше и эффективнее, чем в популярных онлайн школах!
      </h3>
      <div class="miro__text">
        <b>Доска Miro</b> - это большое интерактивное пространство где можно писать, рисовать, вставлять любые изображения и видео, прикреплять файлы и следить за своим прогрессом.
        Её использовать даже проще, чем пейнт и весь материал хранится в одном месте
      </div>
    </div>
    <video class="miro__video" autoplay="autoplay" loop muted data-aos="fade-left">
      <source src="img/1.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
<!--      <source src="img/1.webm" type='video/webm; codecs="vp8, vorbis"'>-->
    </video>
  </div>
  <div class="edvibe">
    <video class="edvibe__video" autoplay="autoplay" loop muted data-aos="fade-right">
      <source src="img/2.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <!--      <source src="img/2.webm" type='video/webm; codecs="vp8, vorbis"'>-->
    </video>
    <div class="edvive__text" data-aos="fade-left">
      <p>Для подготовки к IELTS я составляю уроки на интерактивной <b>платформе Edvibe</b>, которая автоматически проверяет ваши ответы.</p>
      <p>Встроенный словарь, таймер и возможность записать голос сделают обучение более комфортным и сэкономят время.</p>
      <p>И самое главное - домашку на платформе удобно выполнять даже с телефона в дороге!</p>
    </div>
  </div>
  <div class="quizlet">
    <div class="quizlet__text" data-aos="fade-right">
      <p>После каждого урока с новой лексикой я составляю <b>набор карточек Quizlet</b>, которые помогут запомнить всё в игровой форме без напряжения.</p>
      <p>Для всех моих учеников доступно бесконечное количество повторений без оплаты премиум-версии.</p>
    </div>
    <video class="quizlet__video" autoplay="autoplay" loop muted data-aos="fade-left">
      <source src="img/3.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
<!--      <source src="img/3.webm" type='video/webm; codecs="vp8, vorbis"'>-->
    </video>
  </div>
  <div class="wordwall">
    <video class="wordwall__video" autoplay="autoplay" loop muted data-aos="fade-right">
      <source src="img/4.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      <!--      <source src="img/4.webm" type='video/webm; codecs="vp8, vorbis"'>-->
    </video>
    <div class="wordwall__text" data-aos="fade-left">
      <p>Новые слова останутся в голове навсегда, ведь каждый новый урок мы повторяем материал из предыдущего в <b>играх на сайте Wordwall</b>, которые я создаю сама.</p>
      <p>Геймификация невероятно стимулирует к изучению языка.</p>
    </div>
  </div>
</div>
</section>

